<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>An Robot</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" 
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
crossorigin="anonymous"></script>
</head>
<body>

<h1>Toddbot</h1>

<h3><img src="{{ url_for('video_feed') }}" width="90%"></h3>

Drive:<br>
<button type="button" class="btn btn-default" id="drive-left"> < </button>
<button type="button" class="btn btn-default" id="drive-forward"> ^ </button>
<button type="button" class="btn btn-default" id="drive-backward"> v </button>
<button type="button" class="btn btn-default" id="drive-right"> > </button>
<button type="button" class="btn btn-danger" id="drive-stop">Stop</button>
<br><br>

Speed:<br>
<input type="range" max="200" value="75" step="10" min="10", id="set-speed"> 
<br><br>

Camera:<br>
<button type="button" class="btn btn-default" id="cam-left"> < </button>
<button type="button" class="btn btn-default" id="cam-up"> ^ </button>
<button type="button" class="btn btn-default" id="cam-down"> v </button>
<button type="button" class="btn btn-default" id="cam-right"> > </button>
<button type="button" class="btn btn-danger" id="centre">Centre</button>
<br><br>

Camera x:<br>
<input type="range" max="2200" value="1500" step="10" min="800", id="camera-x"> <br>
Camera y:<br>
<input type="range" max="2200" value="1500" step="10" min="800", id="camera-y"> 
<br><br>

<script>

$('#drive-stop').on('click', function(){
$.get('/drive/stop');
});
$('#drive-forward').on('click', function(){
$.get('/drive/forward');
});
$('#drive-backward').on('click', function(){
$.get('/drive/backward');
});
$('#drive-left').on('click', function(){
$.get('/drive/left');
});
$('#drive-right').on('click', function(){
$.get('/drive/right');
});
$('#set-speed').on('change', function(){
$.get('/set_speed/' + this.value);
});

$('#centre').on('click', function(){
$.get('/cam/centre');
$('#camera-x').val(1500);
$('#camera-y').val(1500);
});


$('#cam-up').on('click', function(){
$.get('/cam/up');
});
$('#cam-down').on('click', function(){
$.get('/cam/down');
});
$('#cam-left').on('click', function(){
$.get('/cam/left');
});
$('#cam-right').on('click', function(){
$.get('/cam/right');
});

$('#camera-x').on('change', function(){
$.get('/cam_absolute_x/' + this.value);
});
$('#camera-y').on('change', function(){
$.get('/cam_absolute_y/' + this.value);
});

</script>
</body>
</html>